<div id="name" class="container d-flex flex-column" style="height: 100vh;;">
    <div class="d-inline-block m-auto">
        <div id="logos">
            <a href="https://github.com/rykos">
                <img src="/assets/GitHub-Mark-Light-64px.png" width="64px" height="64px" class="logo mx-3">
            </a>
            <a href="https://www.linkedin.com/in/michal-rykowski/">
                <img src="/assets/LI-In-Bug.png" width="64px" height="64px" class="logo mx-3">
            </a>
        </div>
        <div class="d-inline-block name hover-underline-animation">
            Michał Rykowski
        </div>
        <div class="job-title mx-5 d-flex">
            <span class="m-auto hover-underline-animation" style="pointer-events: none;">
                junior developer
            </span>
        </div>
    </div>
    <div>
        <div class="navigation-arrow m-auto" style="width: 100px;">
            <a href="#skills">
                <svg width="5em" height="5em" viewBox="0 0 16 16" class="bi bi-caret-down-fill mb-3" fill="white"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                </svg>
            </a>
        </div>
    </div>
</div>